body {
    font-family: "Garamond", Serif;
    font-size: 18px;
}

#content {
    overflow: hidden;
    width: 640px;
    margin: 40px auto;
}


@media (max-width: 600px) {
    #content {
        width: 75%;
    }
}

#index .banner {
    text-align: center;
}

#knockknock input[name="punchline"] {
    border: 1px green solid;
    height: 30px;
    width: 35%;
}

@media (max-width: 600px) {
    #knockknock input[name="punchline"] {
	width: 50%;
    }
}

#knockknock input[name="punchline"]:focus{
    outline: none;
}



.p-italic {
    text-style: italic;
}

.p-red {
    color: red !important;
}

.p-blue {
    color: blue !important;
}

.p-green {
    color: green !important;
}
