body {
    font-family: "Garamond", Serif;
    font-size: 18px;
}

#content {
    overflow: hidden;
    width: 640px;
    margin: 45px auto;
}

#index .banner {
    text-align: center;
}

#poem {
    line-height: 1.5em;
}

#poem .rhyme {
    -webkit-transition: color 3s;
    transition: color 3s;
}

#poem .rhyme.turn-green {
    color: green;
}

#poem #author {
    opacity: 0;
    -webkit-transition: opacity 5s;
    transition: opacity 5s;
}

#poem #author.show {
    opacity: 1;
}

#knockknock {
    -webkit-transition: margin-top 2s;
    transition: margin-top 2s;
    margin-top: -20px;
}

#knockknock #submit {
    margin-left: 10px;
}

#knockknock #back {
    margin-left: 5px;
}

#knockknock.slidedown {
    margin-top: 30px;
}

#knockknock input[name="punchline"] {
    border: 1px green solid;
    height: 30px;
    width: 35%;
}

#knockknock input[name="punchline"]:focus{
    outline: none;
}


@media (max-width: 600px) {
    #content {
        width: 80%;
    }
    #knockknock {
	margin-top: -25px;
    }
    #knockknock.slidedown {
	margin-top: 25px;
    }
    #knockknock input[name="punchline"] {
	width: 50%;
    }
    #poem {
	line-height: 1.2em;
    }
}


.p-italic {
    text-style: italic;
}

.p-red {
    color: red !important;
}

.p-blue {
    color: blue !important;
}

.p-green {
    color: green !important;
}

.p-underline {
    text-decoration: underline;
}