{% extends "default.html" %}


{% block head %}

{{ super() }}

<script>
    var disabled = false;
    setTimeout(function() {

	$("input[name='punchline']").on("keyup keydown", function() {
	    var text = $(this).val().trim();
	    if (!text) {
		$('.rhyme').text('_____').removeClass('p-underline');
		$('#response').text('').removeClass('p-red p-green');
	    } else {
		$('.rhyme').text(text.toLowerCase()).addClass('p-underline');
	    }
	});
    
	$("form").on("submit", function() {

	    if (disabled) {
		return;
	    }
	    
	    disabled = true;
	    $('#response').text('').removeClass('p-red p-green');
	    var punchline = $("input[name='punchline']").val().trim();
	    
	    if (!punchline) {
		disabled = false;
		return;
	    } else {
		punchline = punchline.toLowerCase()
	    }
	    
	    $.post("/punchline", {punchline: punchline}, function(data) {
		
		var door_status = data.door_status;
		var message = data.message;
		
		if (door_status === 'open') {
		    $('#knockknock').addClass('slidedown');
		    $('#response').text(message).addClass('p-green');
		    $('.rhyme').addClass('turn-green');
		    $('form').fadeOut(2000, function(){ $(this).remove();});
		    $('#author').addClass('show');

		    
		    var dotCount = 0;
		    var dots = '';
		    var buzzing = setInterval(function() {
			dotCount = dotCount + 1;
			if (dotCount >= 5) {
			    dots = '.';
			    dotCount = 0;
			} else {
			    dots = dots + '.';
			}
			$('#loading-text').text('Buzzing'+dots);
		    }, 500);


		    $.post("/buzzer", {punchline: punchline}, function(data) {
			//$('#response').text('Door is closed.');
			$('#loading-text').fadeOut(2000);

			clearInterval(buzzing);

		    })
			.fail(function(error) {
			    $('#response').text(error.status + ' ' +error.statusText).addClass('p-red');
			    $('#loading-text').text('');
			});
		    
		} else {
		    $('#response').text(message).addClass('p-red');
		    disabled = false;
		}
		
	    })
		.fail(function(error) {
		    
		    $('#response').text(error.status + ' ' +error.statusText).addClass('p-red');
		    disabled = false;
		});
	})
    }, 100);
</script>

{% endblock %}


{% block content %}

<div id="poem">
  The dawn was apple-<span class="rhyme">_____</span>.<br>
  The sky was <span class="rhyme">_____</span> wine held up in the sun.<br>
  The moon was a golden petal between.<br>
  <br>
  She opened her eyes, and <span class="rhyme">_____</span><br>
  They shone, clear like flowers undone<br>
  For the first time, now for the first time seen.<br>
  <br>
    <span id="author">- D. H. Lawrence</span>
  <br>
</div>



<div id="knockknock">

  <div>
    <span id="response"></span>
    <span id="loading-text" class="p-green"</span>
  </div>
  <form onsubmit="return false;">  
    <input name="punchline" type="text" autocomplete="off" autofocus></input>
    <button id="submit" type="submit">Submit</button> <span id="back"> <a href="/" class="p-green"> (?)</></span>
  </form>
</div>

{% endblock %}
